/* styles/global.css */
@import "tailwindcss";

@font-face {
  font-family: 'PolySans';
  src: url(./PolySans-Slim.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Estilo inicial do body (modo escuro por padrão) */
body {
  font-family: 'PolySans';
  background-color: #040404; /* Escuro por padrão */
  color: #f1f1f1; /* Texto claro por padrão */
  transition: background-color 0.3s, color 0.3s;
}

.light-mode {
  background-color: #f4f4f4;
  color: #040404;
  transition: background-color 0.1s, color 0.1s;
}

.dark-mode {
  background-color: #040404;
  color: #f1f1f1;
  transition: background-color 0.1s, color 0.1s;
}

/* Estilo do scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
ul {
  @apply list-disc ml-10;
}
.ml-0 {
  @apply ml-0;
}
.foto {
  @apply rounded-full w-37 h-37;
}
.foto-post {
  @apply  rounded-full  w-10 h-10;
}
.banner {
  @apply rounded-2xl grayscale-0 w-full h-auto object-scale-down;
}
.icon {
  @apply w-10 h-10 grayscale-0 rounded-full;
}
.svg-icon {
  @apply w-8 h-8;
}
.reference {
  @apply grayscale-0 object-position: 100% 90%;;
}
img {
  @apply rounded-md grayscale-100 w-full h-full;
}
h4 {
  @apply lg:text-3xl max-sm:text-xl font-bold;
}
h6 {
  @apply text-sm font-extralight bg-zinc-950 px-2 py-1 rounded-md max-w-fit;
}
h1 {
  @apply sm:text-sm md:text-lg;
}


