@import "tailwindcss";

/* Estilo do scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

  body {
    background-color: #040404;
    color: #f1f1f1;
  }

  a {
    color: var(--link-color);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    list-style-type: disc;
  }
  .foto {
   @apply rounded-full;
  }
  img {
    border-radius: 0.5rem;
  }