@import "tailwindcss";

/* Estilo do scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.light-mode {
  background-color: #f4f4f4;
  color: #040404;
  transition: background-color 0.1s, color 0.1s;
}

.dark-mode {
  background-color: #040404;
  color: #f1f1f1;
  transition: background-color 0.1s, color 0.1s;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  @apply list-disc ml-10;
}
.ml-0 {
  @apply ml-0;
}
.foto {
  @apply rounded-full;
}
img {
  border-radius: 0.5rem;
}